@use "variables" as v;
//Dentro de este codigo se agregara todo al elmento una vez que se manda
//a llamar al mixin
@mixin telefono {
    @media (min-width: v.$telefono){
        @content;
    }
}
@mixin tablet {
    @media (min-width: v.$tablet) {
        @content;
    }
}
@mixin desktop {
    @media (min-width: v.$desktop) {
        @content;
    }
}
@mixin desktopXL {
    @media (min-width: v.$destopXL){
        @content;
    }
}
@mixin grid($columnas, $espaciado) {
    display: grid;
    grid-template-columns: repeat($columnas, 1fr);
    gap: $espaciado;//Se cambio a gap, debido a que colum-gap puedo verse afectado en un futuro
}
@mixin resetear-lista {
    margin: 0;
    padding: 0;
    list-style: none;
}

