// Tipografia
$fuente_principal: 'Montserrat';

//Colores en hexadecimal
$verde: #4CB8B3;
$rosa: #F53756;
$amarillo: #FEF46D;
$morado: #752F97;
$negro: #000000;
$blanco: #ffffff;

//Tamaños de media Queris
$telefono: 480px;
$tablet: 768px;
$desktop: 992px;
$destopXL: 1200px;



