@use 'base/variables' as v;
@use 'base/mixins' as m;


.galeria {
    padding: 5rem 0;
    h3 {
        text-align: center;
    }
}
.galeria-imagenes {
    @include m.resetear-lista();
    @include m.grid(2, 2rem);
    @include m.telefono {
        @include m.grid(3, 2rem);
    }
    @include m.tablet {
        @include m.grid(3, 2rem);
    }
    @include m.desktop {
        @include m.grid(6, 2rem);
    }
}
.overlay {
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;

    width: 100%;
    height: 100%;

    display: grid;
    place-items: center;//Centra vertical y horizontalmente

    background-color: rgb(0 0 0 / .5);

    picture {
        display: block;
        max-width: 80rem;
    }
}
.btn-cerrar { 
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: v.$blanco;
    color: v.$negro;
    //Centramos
    display: grid;
    place-items: center;
    //Ponemos en negrita
    font-weight: 700;
}