@use 'base/variables' as v;
@use 'base/mixins' as m;

.video {
    position: relative;
    max-height: 70rem;
    min-height: 30rem;
    overflow: hidden;
    .overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgb(195,19,203);
        background: linear-gradient(90deg, rgba(195,19,203,0.3981967787114846) 0%, rgba(209,13,218,0.39539565826330536) 100%, rgba(0,212,255,1) 145%, rgba(0,212,255,0.1) 146%, rgba(0,212,255,1) 151%, rgba(0,212,255,1) 151%, rgba(0,212,255,1) 153%);
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    video {
        width: auto;
        display: block;//Para evitar que se desborde y que mejor tome todo el contenido
        @include m.desktop {
         width: 100%; 
        }
    }
}
.contenedor-video {
    z-index: 1;
    h2 {
        color: v.$blanco;
        font-size: 7rem;
        margin: 0;
    }
    p {
        background-color: v.$rosa;
        display: inline-block;//Es para que solo tome el contenido que requiere
        padding: 1rem 2rem;
        color: v.$blanco;
        font-weight: 700;//Para hacer manda negrita la letra
        font-size: 2.4rem;
    }
}